body{
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  background: #050505;
}
body::-webkit-scrollbar {
  display: none;
}
.button a{
  transition: transform 0.2s, background-color 0.5s;
}

.section_01{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  transition: background-color 1s;
}

.section_01 .view_01 {
  text-align: center;
  padding-top: 150px;
  background: white;
  width: 100vw;
}

.section_01 .view_01 h1{
  font-size: 56px;
  margin: 0;
  animation: ani_01_01 0.9s 0.5s forwards;
  transform: translateY(30px);
  opacity: 0;
}
.section_01 .view_01 h6{
  line-height: 48px;
  font-size: 16px;
  margin: 0;
  animation: ani_01_01 0.9s 1.4s forwards;
  transform: translateY(30px);
  opacity: 0;
}
.section_01 .view_01 .arrow{
  margin-top: 60px;
  opacity: 0;
  animation: ani_01_02 0.9s 2.3s forwards;
}
.section_01 .view_01 .arrow img{
  width: 50px;
  height: 50px;
  animation: ani_01_03 2s infinite;
  opacity: 0.8;
}

@keyframes ani_01_01 {
  100%{
    transform: none;
    opacity: 1;
  }
}
@keyframes ani_01_02 {
  100%{
    opacity: 1;
  }
}
@keyframes ani_01_03 {
  50%{
    transform: translateY(20px);
    opacity: 1;
  }
  100%{
    transform: none;
    opacity: 0.8;
  }
}

.section_01 .circle_wrap{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: calc(50% - 100px);
  margin-top: 100px;
  perspective: 300px;
}
.section_01 .circle_wrap .circle{
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.section_01 .circle_wrap .circle1{
  background: conic-gradient(#888888,#333333,#888888,#333333);
  position: absolute;
  animation: ani_01_04 5s infinite;
}
.section_01 .circle_wrap .circle2{
  background: conic-gradient(#ec8c86,#d78191,#c1759c,#8eabcb,#7cbddb,#91c6a8,#b4d48d,#dfc17e,#ec8c86);
  transform: rotateX(-180deg);
  animation: ani_01_05 5s infinite;
}
@keyframes ani_01_04 {
  25%{
    transform: rotateZ(180deg);
  }
  50%{
    transform: rotateX(-180deg) rotateZ(180deg);
  }
  75%{
    transform: rotateY(180deg);
  }
  100%{
    transform: none;
  }
}
@keyframes ani_01_05 {
  25%{
    transform: rotateY(180deg);
  }
  50%{
    transform: rotateY(0deg);
  }
  75%{
    transform: rotateY(0deg) rotateZ(180deg);
  }
  100%{
    transform: rotateY(-180deg);
  }
}

.section_01 .view_02{
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1.5s;
  z-index: 2;
  opacity: 0;
  color: white;
  cursor: default;
}

.section_01 .view_02_start{
  opacity: 1;
  position: relative;
  width: 100vw;
  height: 100%;
}

.section_01 .view_02 .wrap{
  width: 965px;
  margin-left: calc(50vw - 482.5px);
  padding-top: 120px;
  display: inline-grid;
  grid-template-areas:
  "box1 box2"
  "box1 box3"
  "box1 box4"
}

.section_01 .view_02 .wrap .box1{
  grid-area: box1;
  width: 525px;
  height: 700px;
  overflow-y: hidden;
  opacity: 0;
  transition: opacity 0.4s 0.3s;
  position: relative;
  background-image: url("../img/me_01.jpg");
  background-position: center bottom;
  background-size : 525px 700px;
  background-repeat: no-repeat;
}


.section_01 .view_02_start .wrap .box1{
  opacity: 1;
}

.section_01 .view_02 .wrap .box1 .effect{
  position: absolute;
  top: 0;
  left: 0;
  width: 525px;
  height: 700px;
  background: rgba(255, 208, 216, 1);
  transition: height 0.5s 0.4s ;
}

.section_01 .view_02_start .wrap .box1 .effect{
  height: 0;
}

.section_01 .view_02 .wrap .box2{
  grid-area: box2;
  padding-left: 40px;
  padding-top: 20px;
  height: 180px;
  width: 400px;
}

.section_01 .view_02 .wrap .box2 h1{
  opacity: 0;
  transform: translateX(80px);
  transition: opacity 0.6s 0.7s, transform 0.6s 0.7s;
}

.section_01 .view_02_start .wrap .box2 h1{
  opacity: 1;
  transform: translateX(0);
  animation: ani_02_01 10s alternate infinite;
}

@keyframes ani_02_01 {
  from{
    color: white;
  }
  25%{
    color: #ebe7dc;
  }
  50%{
    color: #a9c3e6;
  }
  75%{
    color: coral;
  }
  100%{
    color: lightblue;
  }
}

.section_01 .view_02 .wrap .box2 h1{
  margin: 0;
  font-size: 80px;
  line-height: 90px;
}
.section_01 .view_02 .wrap .box3 p{
  font-size: 16px;
  line-height: 26px;
  color: #999999;
  margin: 0;
}

.section_01 .view_02 .wrap .box3{
  grid-area: box3;
  padding-left: 40px;
  width: 400px;
}

.section_01 .view_02 .wrap .box3 p{
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 0.6s 0.9s, transform 0.6s 0.9s;
}

.section_01 .view_02_start .wrap .box3 p{
  opacity: 1;
  transform: translateY(0);
}

.section_01 .view_02 .wrap .box4{
  grid-area: box4;
  height: 280px;
  width: 400px;
  position: relative;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.section_01 .view_02 .wrap .box4 .button{
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;;
  align-items: center;
}

.section_01 .view_02 .wrap .box4 .button a{
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 54px;
  background:  white;
  border-radius: 27px;
  display: none;
}

.section_01 .view_02_start .wrap .box4 .button a{
  display: flex;
}

.section_01 .view_02 .wrap .box4 .button a:hover{
  background: white;
}

.section_01 .view_02 .wrap .box4 .button a span{
  font-size: 17px;
  line-height: 17px;
  margin: 0;
  font-weight: bold;
  color: #333333;
  padding-bottom: 1px;
}
.button a:hover span{
  animation: button_hover 1s forwards;
}
@keyframes button_hover {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@media screen and (max-width: 640px) {
  .section_01 .view_01 h1{
    font-size: 48px;
  }
  .section_01 .circle_wrap{
    width: 150px;
    height: 150px;
    margin-left: calc(50% - 75px);
  }
}
@media screen and (max-width: 1000px){
  .section_01 .view_02 .wrap{
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: nowrap;
    align-items: center;
    width: 100vw;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 0;
  }
  .section_01 .view_02 .wrap .box2{
    width: 525px;
    padding-left: 0px;
    padding-top: 20px;
    height: 100%;
  }
  .section_01 .view_02 .wrap .box3{
    width: 525px;
    padding-left: 0px;
    padding-top: 20px;
    height: 100%;
  }
  .section_01 .view_02 .wrap .box4{
    width: 525px;
    margin-left: 0px;
    height: 120px;
    padding-bottom: 60px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1000px){
  .section_01 .view_02 .wrap{
    padding-bottom : calc(100vh - 820px);
  }
}
@media screen and (max-width: 545px) {
  .section_01 .view_02 .wrap .box1{
    width: calc(100vw - 20px);
    height: calc(133vw - 26.6px);
  }
  .section_01 .view_02 .wrap .box2{
    width: calc(100vw - 20px);
  }
  .section_01 .view_02 .wrap .box3{
    width: calc(100vw - 20px);
  }
  .section_01 .view_02 .wrap .box4{
    width: calc(100vw - 20px);
  }

  .section_01 .view_02 .wrap .box1 .effect{
    width: calc(100vw - 20px);
    height: calc(133vw - 26.6px);
  }
  .section_01 .view_02_start .wrap .box1 .effect{
    height: 0;
  }
  .section_01 .view_02 .wrap .box2 h1{
    font-size: 60px;
    line-height: 70px;
  }
  .section_01 .view_02 .wrap .box3 p{
    font-size: 13px;
    line-height: 23px;
  }
  .section_01 .circle_wrap{
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}


.section_02{
  background: #050505;
  width: 100vw;
  height: 440vh;
  transition: background-color 1s;
  color: #050505;
  position: relative;
  z-index: 3;
}

.button{
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;;
  align-items: center;
}

.button a{
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 54px;
  background:  white; /*linear-gradient(to right, #ebe7dc,#a9c3e6,#bdc7d1)*/
  border-radius: 27px;
  display: none;
}

.button a{
  display: flex;
}

.button a:hover{
  background: white;
}

.button a:hover span{
  background: #333333;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button a span{
  font-size: 17px;
  line-height: 17px;
  margin: 0;
  font-weight: bold;
  padding-bottom: 1px;
}


.section_02 .button a{
  background: white;
  border: 1px solid #dddddd;
}
.section_02 .button a span{
  color: #050505;
}
.section_02 .text_wrap{
  padding-top: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  opacity: 0;
  transition: opacity 0.5s 0.5s;
}
.section_02 .text_wrap h1{
  font-size: 8.5vw;
  margin: 0;
  line-height: 8.3vw;
  font-weight: 900;
  transition: transform 0.2s;
}
.section_02 .text_wrap h1:nth-child(1){
  transform: translateX(0vw);
}
.section_02 .text_wrap h1:nth-child(2){
  transform: translateX(30vw);
}
.section_02 .text_wrap h1:nth-child(3){
  transform: translateX(60vw);
}

.section_02 .section_02_content{
  position: sticky;
  position: -webkit-sticky;
  top: calc(24.9vw + 100px);
  padding-left: 40px;
  opacity: 0;
  transform: translateY(60px);
  transition: all 1s;
}
.section_02 .on{
  opacity: 1;
  transform: translateY(0px);
}
.section_02 .section_02_content h2{
  font-size: 40px;
  margin: 0;
}
.section_02 .section_02_content h3{
  font-size: 16px;
  color: #888888;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
}

.section_02 .section_02_img1{
  width: 500px;
  height: 500px;
  position: relative;
  top: 30px;
  left: 20vw;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.5s ease-out;
  margin-top: 970px;
}
.section_02 .effect{
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  background: rgba(255, 208, 216, 1);
  transition: height 0.4s ease-out;
}
.section_02 .section_02_img2{
  width: 500px;
  height: 500px;
  position: relative;
  top: 30px;
  left: calc(20vw + 400px);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.5s ease-out;
  margin-top: 60px;
}
.section_02 .section_02_img_on{
  opacity: 1;
}
.section_02 .section_02_img_on .effect{
  height: 0px;
}


@media screen and (max-width: 545px){
  .section_02 .section_02_img1{
    left: calc(50vw - 250px);
    top: 30px;
    margin-top: 0px;
  }
  .section_02 .section_02_img2{
    left: calc(50vw - 250px);
    top: 30px;
    margin-top: 40px;
  }
  .section_02{
    height: 200vh;
    background: white;
  }
}

.section_02 .section_02_img1 img{
  animation: section_02_img1_ani 20s infinite;
}
@keyframes section_02_img1_ani {
  0%{
    transform: translateX(0px);
  }
  3%{
    transform: translateX(-500px);
  }
  5%{
    transform: translateX(-500px);
  }
  8%{
    transform: translateX(-1000px);
  }
  10%{
    transform: translateX(-1000px);
  }
  13%{
    transform: translateX(-1500px);
  }
  15%{
    transform: translateX(-1500px);
  }
  18%{
    transform: translateX(-2000px);
  }
  20%{
    transform: translateX(-2000px);
  }
  23%{
    transform: translateX(-2500px);
  }
  25%{
    transform: translateX(-2500px);
  }
  28%{
    transform: translateX(-3000px);
  }
  30%{
    transform: translateX(-3000px);
  }
  33%{
    transform: translateX(-3500px);
  }
  35%{
    transform: translateX(-3500px);
  }
  38%{
    transform: translateX(-4000px);
  }
  40%{
    transform: translateX(-4000px);
  }
  43%{
    transform: translateX(-4500px);
  }
  45%{
    transform: translateX(-4500px);
  }
  48%{
    transform: translateX(-5000px);
  }
  50%{
    transform: translateX(-5000px);
  }
  53%{
    transform: translateX(-5500px);
  }
  55%{
    transform: translateX(-5500px);
  }
  58%{
    transform: translateX(-6000px);
  }
  60%{
    transform: translateX(-6000px);
  }
  63%{
    transform: translateX(-6500px);
  }
  65%{
    transform: translateX(-6500px);
  }
  68%{
    transform: translateX(-7000px);
  }
  70%{
    transform: translateX(-7000px);
  }
  73%{
    transform: translateX(-7500px);
  }
  75%{
    transform: translateX(-7500px);
  }
  78%{
    transform: translateX(-8000px);
  }
  80%{
    transform: translateX(-8000px);
  }
  83%{
    transform: translateX(-8500px);
  }
  85%{
    transform: translateX(-8500px);
  }
  88%{
    transform: translateX(-9000px);
  }
  90%{
    transform: translateX(-9000px);
  }
  93%{
    transform: translateX(-9500px);
  }
  100%{
    transform: translateX(-9500px);
  }
  }
}

@media screen and (max-width: 1000px){
  .section_02 .text_wrap h1{
    font-size: 80px;
    line-height: 80px;
  }
  .section_02 .section_02_content{
    top: 400px;
  }
  .section_02 .section_02_img2{
    left: 5vw;
  }
  .section_02 .section_02_img1{
    left: 5vw;
  }
}
@media screen and (max-width: 1200px){
  .section_02 .text_wrap h1{
    font-size: 80px;
    line-height: 80px;
  }
  .section_02 .section_02_content{
    top: 400px;
  }
  .section_02 .section_02_img2{
    left: calc(10vw + 400px);
  }
  .section_02 .section_02_img1{
    left: 10vw;
  }
}
@media screen and (max-width: 1000px){
  .section_02 .section_02_img1{
    left: calc(50vw - 250px);
  }
  .section_02 .section_02_img2{
    left: calc(50vw - 250px);
  }
}
@media screen and (max-width: 673px){
  .section_02 .text_wrap h1{
    font-size: 60px;
    line-height: 60px;
  }
  .section_02 .text_wrap{
    opacity: 1;
  }
  .section_02 .section_02_content{
    padding-left: 10px;
  }
  .section_02 .button_wrap{
    display: flex;
    justify-content: center;
  }
  .section_02{
    padding-bottom: 400px;
  }
}

.section_03{
  width: 100vw;
  height: calc(100vh + 3600px);
  position: relative;
  z-index: 2;
}
.section_03 .section_03_sticky{
  width: 100vw;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}
.section_03 .section_03_sticky .section_03_img{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.section_03 .section_03_sticky .section_03_img1{
  background-image: url("../img/gradient1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  transition: all 0.2s;
}
.section_03 .section_03_sticky .headline_wrapper{
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: all 0.2s;
}
.section_03 .section_03_sticky .headline_wrapper .headline{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: -100px;
  left: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.section_03 .section_03_sticky .headline_wrapper .headline span{
  font-size: 100vw;
  font-weight: 800;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
.section_03 .section_03_sticky .headline_wrapper .headline2{
  opacity: 0;
}
.section_03 .section_03_sticky .headline_wrapper .headline1 span{
  background-image: url("../img/gradient1.jpg");
}
.section_03 .section_03_sticky .headline_wrapper .headline2 span{
  background-image: url("../img/gradient2.jpg");
}
.section_03 .section_03_sticky .middle{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.2s;
  word-break: keep-all;
}
.section_03 .section_03_sticky .middle span{
  color: white;
  font-size: 30vw;
  font-weight: 500;
  word-break: keep-all;
  width: 300vw;
}
.section_03 .section_03_sticky .section_03_text .left p{
  color: white;
  font-size: 16px;
  line-height: 26px;
  width: 300px;
  height: 104px;
  margin: 0;
}
.section_03 .section_03_sticky .section_03_text{
  opacity: 0;
  transition: all 1s;
  position: absolute;
  bottom: 200px;
  width: 700px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  left: calc(50% - 350px);
  z-index: 99;
}
@media screen and (max-width: 799px){
.section_03 .section_03_sticky .section_03_text{
  width: 550px;
  left: calc(50% - 275px);
}
.section_03 .section_03_sticky .middle span{
  font-size: 250px;
}
.section_03 .section_03_sticky .headline_wrapper .headline span{
  font-size: 800px;
}
}
@media screen and (max-width: 559px){
  .section_03_on .section_03_sticky .headline_wrapper{
    opacity: 1;
  }
  .section_03_on .section_03_sticky .headline_wrapper .headline{
    top: -200px;
  }
  .section_03_on .section_03_sticky .middle{
    top: -120px;
    opacity: 1;
    text-align: center;
  }
  .section_03_on .section_03_sticky .section_03_text{
    width: 300px;
    height: 205px;
    flex-direction: column;
    left: calc(50% - 150px);
    bottom: 140px;
    text-align: center;
    opacity: 1;
  }
  .section_03_on{
    height: 100vh;
  }
  .section_03_on .section_03_sticky .middle span{
    font-size: 36px;
  }
  .section_03_on .section_03_sticky .headline_wrapper .headline span{
    font-size: 100px;
  }
}


.section_04{
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
  transition: all 0.7s;
  color: white;
  overflow-y: hidden;
}
.section_04 h3{
  margin: 0;
}
.section_04 .section_04_tittle{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: none;
}
.section_04 .section_04_tittle span{
  font-weight: 800;
  color: white;
  font-size: 20vw;
  background: none;
  transition: transform 1.5s, color 1.5s 1.5s;
}
.section_04 .section_04_tittle span:nth-child(1){
  transform: translateY(-40vh);
}
.section_04 .section_04_tittle span:nth-child(2){
  transform: translateY(40vh);
}
.section_04 .section_04_tittle span:nth-child(3){
  transform: translateY(-20vh);
}
.section_04 .section_04_tittle span:nth-child(4){
  transform: translateY(20vh);
}
.section_04 .section_04_tittle span:nth-child(5){
  transform: translateY(-40vh);
}
.section_04_on .section_04_tittle span:nth-child(1){
  transform: translateX(0px);
  color: rgba(255, 255, 255, 0.1);
}
.section_04_on .section_04_tittle span:nth-child(2){
  transform: translateX(0px);
  color: rgba(255, 255, 255, 0.1);
}
.section_04_on .section_04_tittle span:nth-child(3){
  transform: translateX(0px);
  color: rgba(255, 255, 255, 0.1);
}
.section_04_on .section_04_tittle span:nth-child(4){
  transform: translateX(0px);
  color: rgba(255, 255, 255, 0.1);
}
.section_04_on .section_04_tittle span:nth-child(5){
  transform: translateX(0px);
  color: rgba(255, 255, 255, 0.1);
}

.section_04 .section_04_text, .section_04 .contact{
  opacity: 0;
  transition: opacity 0.5s 3s;
  position: relative;
  z-index: 1;
}
.section_04_on .section_04_text, .section_04_on .contact{
  opacity: 1;
}
.section_04 .contact{
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.section_04 .contact .phone, .section_04 .contact .instagram{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section_04 .contact .instagram{
  padding-left: 40px;
}
.section_04 .contact .info, .section_04 .contact .icon{
  padding: 0px 20px;
}
.section_04 .contact .icon{
  transform: translateY(4px);
}
.section_04 .contact .info a h1{
  color: white;
  transition: color 0.5s;
}
.section_04 .contact .info::before{
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: white;
  margin: 7.5px -20px;
  transition: background-color 0.5s;
}
.section_04 .contact .icon svg{
  width: 30px;
  height: 30px;
}
.section_04 .contact .icon svg path{
  fill: white;
  transition: all 0.5s;
}



.section_04 .contact .phone:hover .icon svg path{
  fill: rgba(255, 255, 255, 0.6);
}
.section_04 .contact .phone:hover .info a h1{
  color: rgba(255, 255, 255, 0.6);
}
.section_04 .contact .phone:hover .info::before{
  background-color: rgba(255, 255, 255, 0.6);
}
.section_04 .contact .instagram:hover .icon svg path{
  fill: rgba(255, 255, 255, 0.6);
}
.section_04 .contact .instagram:hover .icon svg circle{
  fill: rgba(255, 255, 255, 0.6);
}
.section_04 .contact .instagram:hover .info a h1{
  color: rgba(255, 255, 255, 0.6);
}
.section_04 .contact .instagram:hover .info::before{
  background-color: rgba(255, 255, 255, 0.6);
}


.section_04 .contact .icon svg circle{
  fill: white;
  transition: all 0.5s;
}
.section_04 .section_04_text{
  padding-top: calc(50vh - 68px);
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.section_04 .section_04_text h2{
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
}
.section_04 .section_04_text h3{
  padding-top: 10px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: #999999;
}
@media screen and (max-width: 720px){
  .section_04 .contact{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
  }
  .section_04 .contact .instagram{
    padding-left: 0px;
    padding-top: 40px;
  }
  .section_04 .section_04_text{
    padding-top: 120px;
  }
}
