body{
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #999999;
  transition: background-color 1s;
  border-radius: 3px;
}
body::-webkit-scrollbar-thumb:hover{
  background-color: #666666;
}
.box_wrap{
  width: calc(100vw - 40px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f5f5f7;
  padding: 44px 20px 200px 20px;
  flex-wrap: wrap;
}
.box{
  margin-top: 20px;
  width: calc(50vw - 30px);
  height: 544px;
  background-color: #ffffff;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-size: 1262px 580px;
  background-position: center center;
  animation: opening 1s forwards;
}
@keyframes opening {
  from{
    opacity: 0;
    transform: translateY(-40px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}
.box .text h1{
  color: rgb(29, 29, 31);
  margin: 0;
  font-size: 38px;
  text-align: center;
  font-weight: 600;
  line-height: 42px;
  display: block;
  width: 100%;
  padding-top: 2px;
}
.box .text h2{
  color: rgb(29, 29, 31);
  margin: 0;
  font-size: 17px;
  text-align: center;
  font-weight: 400;
  line-height: 22px;
  display: block;
  width: 100%;
  padding-top: 12px;
}
.box .text .info{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.box .text .info svg{
  width: 17px;
  height: 17px;
  margin-top: 2px;
  margin-right: 5px;
}
.box .text .info svg path{
  fill: rgb(0, 102, 204);
}
.box .text .info h3{
  color: rgb(0, 102, 204);
  margin: 0;
  font-size: 15px;
  text-align: left;
  font-weight: 400;
  line-height: 20px;
  height: 20px;
}
.box_wrap .upper .text{
  padding-top: 31px;
}
.box_wrap .lower .text{
  padding-top: 413px;
}
.box:hover{
  box-shadow: 0px 0px 6px rgba(100, 102, 204, 0.5);
}
.box .hyperlink{
  width: 100%;
  height: 100%;
  display: block;
}

@media screen and (max-width: 1000px){
  .box_wrap{
    width: calc(100vw - 20px);
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 44px 10px 200px 10px;
    flex-wrap: nowrap;
  }
  .box{
    width: calc(100vw - 20px);
  }
}


/* specific */
.box_wrap .box1{
  background-image: url("../img/works1.jpg");
}
.box_wrap .box2{
  background-image: url("../img/works2.jpg");
}
.box_wrap .box2 .text .info h3{
  color: #d3444a;
}
.box2 .text .info svg path{
  fill: #d3444a;
}
