body {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #010101;
  margin: 0;
  color: white;
}
body::-webkit-scrollbar {
  display: hidden;
}

.header_hide{
  top: 0px;
  height: 44px;
  opacity: 1;
}

h1 {
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  font-size: 36px;
  line-height: 56px;
  font-weight: 400;
  text-align: center;
  transition: all 0.5s;
}

a {
  color: white;
}

.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  filter: blur(10px) opacity(20%);
}
.background figure{
  margin: 0;
  width: 100%;
  height: 100%;
}
.background figure img{
  height: 100%;
}

.content_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 560px;
  width: 300px;
  top: calc(50vh - 280px);
  transition: left 1s;
  left: calc(50vw - 150px);
  z-index: 10;
  opacity: 0;
  animation: opening 1.5s forwards;
}
@keyframes opening {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.content_box_on {
  left: calc(50vw - 500px);
}

.content_box .button a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_box .button:first-child a{
  padding-bottom: 20px;
}
.content_box .button:last-child a{
  padding-top: 20px;
}
.content_box .button a figure{
  margin: 0;
  width: 40px;
  height: 40px;
}

.content_box .content_list {
  padding: 187px 0px;
  width: 100%;
  height: 440px;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.content_box .content_list::-webkit-scrollbar{
  display: none;
}
.content_box .content_list .active h1{
  color: white;
  font-size: 46px;
  line-height: 66px;
}
.content_box .content_list .content h1:hover{
  color: white;
}

.info{
  opacity: 0;
  height: 320px;
  width: 500px;
  position: fixed;
  top: calc(50vh - 160px);
  left: 100vw;
  transition: opacity 0.8s 0.9s;
}
.info_on{
  opacity: 1;
  left: calc(50vw - 0px);
}
.info figure {
  margin: 0 0 5px 0;
}
.info figure video {
  width: 500px;
  height: 281.25px;
}
.info .hyperlink {
  width: 500px;
  height: 28px;
  overflow: hidden;
}
.info .hyperlink .button_box{
  text-align: center;
  width: 120px;
  margin: auto;
  height: 100%;
  transition: all 0.4s;
  transform: translateY(0px);
  display: block;
  opacity: 0.7;
}
.info .hyperlink .button_box:hover{
  transform: translateY(-28px);
  animation: opacity 1s infinite alternate;
}
@keyframes opacity {
  0%{
    opacity: 0.7;
  }
  100%{
    opacity: 1;
  }
}
.info .hyperlink .button_box .up{
  height: 28px;
}
.info .hyperlink .button_box .down{
  height: 28px;
}
